
application.properties

    # Local configuration files
    src/main/resources/application-dev.properties
    src/main/resources/application.properties

    # Log files
    *.log

    # Maven build output
    target/

    # IDE files
    .idea/
    *.iml
